[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "qtlpoly"]
	path = qtlpoly
	url = https://github.com/gabrielgesteira/qtlpoly
	shallow = true
	registered = true
